#settingFW,
#renameFW,
#adminFW,
#deleteFW{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#passwordAuth{
    font-family: 'Crimson Pro', serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #a3a6a8 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

#newName{
    font-family: 'Crimson Pro', serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #a3a6a8 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

/* 設定懸浮窗 */
.settingContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 250px;
    max-height: 500px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(202, 207, 210, 0.87) 0px 30px 30px -20px;
}


.settingHeading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(123, 125, 127);
}

/* 管理員按鈕 */
#adminButton{
    transform: scale(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 6%;
    right: 15%;
    font-family: 'Crimson Pro', serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white ;
}
#adminButton:hover{
    color:  rgb(103, 103, 103);
}

#editFP,
#saveFP,
#deleteFP{
    display: block;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Crimson Pro', serif;
    background: linear-gradient(45deg, rgb(104, 107, 108) 0%, rgb(183, 188, 189) 100%);
    color: white;
    margin: 8px auto;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
}
#editFP:hover,
#saveFP:hover,
#deleteFP:hover {
    transform: scale(1.03);
}
#editFP:active,
#saveFP:active,
#deleteFP:active {
    transform: scale(0.95);
}

.inputFP{
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    transition: all 0.5s;
}
.inputFP:hover,
.inputFP:focus {
    border: 2px solid #4A9DEC;
    background-color: white;
}




/* 登出鈕 */
.setBtn {
    display: flex;
    align-items: center;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(123, 125, 127);
}

.setBtn:active {
    transform: translate(2px ,2px);
}

.setIcon {
    width: 30%;
    transition-duration: .1s;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setIcon svg {
    width: 17px;
}

.setIcon svg path {
    fill: white;
}

.setText {
    position: absolute;
    right: 0%;
    width: 70%;
    opacity: 1;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    transition-duration: .3s;
    padding-right: 10px;
}

@media only screen and (max-width: 1000px) {
    #settingFW,
    #renameFW,
    #deleteFW{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    #adminButton{
        transform: scale(1.6);
        top: 4.3%;
        right: 23%;
    }
}